---
// src/pages/dual.astro
import '../styles/global.css';
import DualTrackGallery from '../components/DualTrackGallery.astro';
import FloatingButton from '../components/FloatingButton.astro';
import PureTransition from '../components/PureTransition.astro';
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Dual Track Gallery</title>
  <link rel="preload" href="/fonts/NotoSansSC-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/NotoSansSC-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/NotoSansSC-Black.woff2" as="font" type="font/woff2" crossorigin>
  <script src="/scripts/font-loader.js" is:inline></script>
</head>
<body class="w-screen h-screen overflow-hidden bg-[#0a0a0a]">
  <PureTransition />
  <DualTrackGallery />
  <FloatingButton />
</body>
</html>
