---
// src/pages/hub.astro
import '../styles/global.css';
import LiquidNavHub from '../components/LiquidNavHub.astro';
import PureTransition from '../components/PureTransition.astro';
import HomeButton from '../components/HomeButton.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Liquid Navigation Hub</title>
</head>
<body class="w-screen h-screen overflow-hidden m-0 p-0 bg-[#0a0a0a]">
  <PureTransition />
  <LiquidNavHub />
  <HomeButton />
</body>
</html>